/* components/SoulCardGrid/SoulCardGrid.module.css */
.cardsGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}

@media screen and (max-width: 768px) {
  .cardsGrid {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }
}