/* 전체 배경과 기본 스타일 */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
  background-color: #22254b;
  color: #ffffff;
}
/* 로딩 스피너 스타일 */
.loading-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  display: flex;
  gap: 10px; /* 원 사이의 간격 */
}

.spinner div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #007bff;
  animation: bounce 1.5s infinite ease-in-out;
}

/* 각각의 원에 애니메이션 지연 시간 다르게 설정 */
.spinner div:nth-child(1) {
  animation-delay: 0s;
}

.spinner div:nth-child(2) {
  animation-delay: 0.2s;
}

.spinner div:nth-child(3) {
  animation-delay: 0.4s;
}

.spinner div:nth-child(4) {
  animation-delay: 0.6s;
}

/* 물결처럼 커졌다 작아지게 하는 애니메이션 */
@keyframes bounce {
  0%, 100% {
    transform: scale(1); /* 원이 원래 크기로 */
  }
  50% {
    transform: scale(1.5); /* 원이 커지도록 */
  }
}


/* header 스타일 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2a2b3b;
  color: #ffffff;
  border-bottom: 2px solid #444;
}

/* 홈 아이콘 스타일 */
.home-icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
  cursor: pointer;
  filter: invert(1);
}

/* 제목을 가운데 배치 */
.title-container {
  flex-grow: 1;
  text-align: center;
}

.title {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  cursor: pointer;
}

.title:hover {
  color: #f1f1f1;
}

a {
  text-decoration: none; /* 모든 링크의 밑줄 제거 */
}
