.header {
    background-color: #41659b; /* 깊고 차분한 블루 */
    height: 60px; /* 고정된 헤더 높이 */
    padding: 0 20px; /* 세로 패딩 제거 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
  }
  
  /* 가운데 타이틀 */
  .title-container {
    flex: 1;
    text-align: center;
  }
  
  .header-title {
    margin: 0;
    font-size: 20px; /* 작게 조정된 폰트 크기 */
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
  }
  
  .header-title:hover {
    transform: scale(1.05);
    opacity: 0.8;
  }

  /* 크레딧 버튼 */
.credit-button {
  background-color: #3c3c3c; /* 어두운 회색 */
  color: #e0e0e0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 20px;
}

.credit-button:hover {
  background-color: #555555; /* 좀 더 어두운 회색 */
}