.card {
    max-width: 500px;
    margin: 3rem auto ;
    background-color: #2c2c2c;
    border-radius: 12px;
    padding: 2rem;
    text-align: center;
    color: #f1c40f;
  }
  
  .title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
  
  .description {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #ddd;
  }
  
  .optionButton {
    margin-top: 2rem;
    display: block;
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    background-color: #444;
    border: 1px solid #555;
    border-radius: 8px;
    font-size: 1rem;
    line-height: 1.4;
    color: #f1c40f;
    transition: background 0.2s;
  }
  
  .optionButton:hover {
    
    background-color: #555;
  }
  .imageContainer {
    margin-bottom: 2rem;
  }
  /* 반응형 모바일 디자인 */
@media (max-width: 600px) {
    .card {
      padding: 1rem;
      margin: 2rem auto;
    }
    
    .title {
      font-size: 1.3rem;
      margin-bottom: 1.5rem;
    }
    
    .description {
      font-size: 0.9rem;
    }
    
    .optionButton {
      font-size: 0.9rem;
      padding: 0.6rem;
    }
  }